<h2>Sign Up Confirmation</h2>
<h4>Are you sure these values are correct?</h4>
<%= form_for @user do |f| %>
  <div class="form-group">
    <p>Email: <%= f.email %></p>
    <p>Name: <%= f.name %></p>
  </div>
  <div class="form-group">
    <%= button_to "Yes", {controller: "users", action: "create", params: params}, class:'btn btn-success' %>
    <%= button_to "No", {controller: "users", action: "new", params: params}, class: 'btn btn-alert' %>
  </div>
<% end %>
