<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <!-- insert method - do posts or comments exist? -->
        <small>
          <% if no_posts?(current_user) %>
            <% no_posts_message(current_user) %>
          <% else %>
            <%= pluralize(@user.posts.count, 'post') %>
          <% end %>
          <% if no_comments?(current_user) %>
            <% no_comments_message(current_user) %>
          <% else %>
            <%= pluralize(@user.comments.count, 'comment') %>
          <% end %>
        </small>
      </div>
    </div>
  </div>
</div>
<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>
