<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <!-- insert method - do posts or comments exist? -->
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>
<% if has_posts?(current_user) %>
  <br>
  <p><%= @user.name %> has no submitted posts.</p>
<% else %>
    <h2>Posts</h2>
    <%= render @user.posts %>
<% end %>

<% if has_comments?(current_user) %>
  <br>
  <p><%= @user.name %> has no submitted comments.</p>
<% else %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% end %>

<h2>Favorited Posts</h2>
<% if @user.favorites.empty? %>
  <p><%= @user.name %> has not favorited any posts</p>
<% else %>
  <%= render @user.favorited_posts %>
<% end %>
